<div class="container mt-5">
    <h1>Категорія #<%= @category.id %></h1>

    <div class="category-info">
        <p>
          <strong>Name:</strong>
          <%= @category.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @category.description %>
        </p>
      </div>
   