<div class="container mt-5">
    <h1 style="color: blue;">Звіти</h1>

    <% @categories.each do |category| %>
      <div id="<%= dom_id category %>" class="category-info">
        <p>
          <strong>Name:</strong>
          <%= category.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= category.description %>
        </p>
      </div>
    <% end %>
