<h1>Reports#report_by_dates</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.id %></td>
        <td><%= operation.odate %></td>
        <td><%= operation.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
